.page {
  background: 
    url('/SmallStars.svg'), 
    radial-gradient(ellipse at 50% 60%, #A884F3 20%, #4D65B4 60%, #484A77 80%);
  
  background-size: auto, cover;
  background-position: top left, center;
  
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
}


.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}

.waterContainer {
  position: fixed;
  bottom: -450;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.waterWave {
  transform: translateY(-150px);
  width: 100vw;
  z-index: 1;
}

.waterFill {
  background: linear-gradient(0.25turn, #4D9BE6 10%, #A884F3 20%, #C7DCD0 40%, #DEDEDE 45%, #DEDEDE 55%, #C7DCD0 60%, #A884F3 80%, #4D9BE6 90%);
  width: 100vw;
  height: 55vh;
  transform: translateY(-160px);

}

@keyframes rotateMoon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.moonContainer {
  position: fixed;
  width: 900px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  translate: -50% -30%
}

.moon {
  position: absolute;
  animation: rotateMoon 100s linear infinite;
}

.moonRing1 {
  position: absolute;
  animation: rotateMoon 150s linear infinite reverse;
}

.moonRing2 {
  position: absolute;
  animation: rotateMoon 200s linear infinite;
}