.page {
  background: linear-gradient(#323353, #484A77 20%, #6B3E75 55%);
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.moon {
  margin-top: 30%;
}

.waterOutline {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.waterWave {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.waterFill {
  background: linear-gradient(0.25turn, #323353, #484A77 8%, #4D65B4 19%, #A884F3 34%, #A884F3 64%, #4D65B4 81%, #484A77 90%, #323353 100%);
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}