.page {
  background: 
    url('../public/SmallStars.svg'), 
    radial-gradient(ellipse at 50% 37%, #A884F3 20%, #4D65B4 60%, #484A77 80%);
  background-size: auto, cover;
  background-position: top left, center;

  display: block;
  min-height: 100vh;
  font-family: var(--font-balthazar), Georgia, 'Times New Roman', Times, serif;
}

.main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

.section2 {
  height: 100vh;
  scroll-snap-align: start;
  background-color: #45293F;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.socialItem:hover,
.muteButton:hover,
.downButton:hover {
  transform: scale(1.1);
}
.upButton:hover {
  transform: rotate(180deg) scale(1.1);
}

.muteButton {
  position: fixed;
  top: 1%;
  left: 1%;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.downButton {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.upButton {
  position: fixed;
  top: 1%;
  right: 1%;
  background-color: transparent;
  border: none;
  z-index: 2;
  transform: rotate(180deg);
}

@keyframes rotateMoon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.moonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -30%);
  pointer-events: none;
}

.moon {
  position: absolute;
  animation: rotateMoon 150s linear infinite;
}

.moonRing1 {
  position: absolute;
  animation: rotateMoon 150s linear infinite reverse;
}

.moonRing2 {
  position: absolute;
  animation: rotateMoon 100s linear infinite;
}

@keyframes moveClouds {
  0% { background-position: 0 0; }
  100% { background-position: -2017px 0; }
}

.backgroundClouds {
  position: absolute;
  bottom: 20%;
  left: 50%;
  height: 450px;
  width: 100vw;
  background: url('../public/BgClouds.svg') repeat-x;
  animation: moveClouds 120s linear infinite;
  transform: translateX(-50%);
  pointer-events: none;
}

.frontClouds {
  position: absolute;
  top: 53%;
  left: 50%;
  height: 450px;
  width: 100vw;
  background: url('../public/FrontClouds1.svg') repeat-x;
  animation: moveClouds 100s linear infinite reverse;
  transform: translateX(-50%);
  pointer-events: none;
}

.waterContainer {
  position: absolute;
  transform: translateY(470px);
  bottom: 0%;
  left: 0%;
  width: 100vw;
  z-index: 1;
  pointer-events: none;
}

.waterWave {
  width: 100vw;
  transform: translateY(-150px);
}

.waterFill {
  background: linear-gradient(0.25turn, #4D9BE6 10%, #A884F3 20%, #C7DCD0 40%, #DEDEDE 45%, #DEDEDE 55%, #C7DCD0 60%, #A884F3 80%, #4D9BE6 90%);
  width: 100vw;
  height: 55vh;
  transform: translateY(-160px);
}

.waterWave {
  transform: translateY(-150px);
  width: 100vw;
}

.waterFill {
  background: linear-gradient(0.25turn, #4D9BE6 10%, #A884F3 20%, #C7DCD0 40%, #DEDEDE 45%, #DEDEDE 55%, #C7DCD0 60%, #A884F3 80%, #4D9BE6 90%);
  width: 100vw;
  height: 55vh;
  transform: translateY(-160px);
}

@keyframes bobText {
  0% { translate: -50% -25%; }
  50% { translate: -50% -35%; }
}

.textContainer {
  position: absolute;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  translate: -50% -25%;
  pointer-events: none;
  animation: bobText 4s ease-in-out infinite;
  z-index: 2;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.titleText {
  font-size: 80px;
  text-shadow:
    -2px -2px 0 #FFFFFF,
     2px -2px 0 #FFFFFF,
    -2px  2px 0 #FFFFFF,
     2px  2px 0 #FFFFFF,
     0px  0px 5px #FFFFFF;
}

.subtitleText {
  font-size: 30px;
    text-shadow:
    -2px -2px 0 #FFFFFF,
     2px -2px 0 #FFFFFF,
    -2px  2px 0 #FFFFFF,
     2px  2px 0 #FFFFFF,
     0px  0px 5px #FFFFFF;
}

@keyframes moveBanner {
  0% { background-position: 0 0; }
  100% { background-position: -1920px 0; }
}

.constructionBannerTop {
  position: absolute;
  left: 50%;
  height: 109px;
  width: 100vw;
  background: url('../public/construction.svg') repeat-x;
  transform: translateX(-50%);
  pointer-events: none;
  animation: moveBanner 60s linear infinite;
}

.constructionBannerBottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 109px;
  width: 100vw;
  background: url('../public/construction.svg') repeat-x;
  transform: translateX(-50%);
  pointer-events: none;
  animation: moveBanner 60s linear infinite reverse;
}

@keyframes bobTitle {
  0% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}


@keyframes bobText {
  0% { translate: -50% -25%; }
  50% { translate: -50% -35%; }
}

.textContainer2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.titleText2 {
  color: #FFFFFF;
  font-size: 60px;
  animation: bobTitle 4s ease-in-out infinite;
}

.subtitleText2 {
  color: #FFFFFF;
  font-size: 40px;
}

.socialLinks {
  position: absolute;
  display: flex;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  gap: 10vw;

}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.four04 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -80%);
  pointer-events: none;

  font-size: 400px;
  color: #C7DCD0;
}

.four {
  transform: translate(0%, 15%);
}

.four04TxT {
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 100px;
  color: #C7DCD0;
  bottom: 30%;
  left: 50%;
}